/* Grids */
.row--flex {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
}

.col {
  flex: 1;
  padding: 0 20px;
}

/* Wishlist Items */
.wishlist-item {
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  &:hover {
    background: #f1f1f1;
  }
  .view-item {

  }
  .remove-item {

  }
}

/* Autocomplete Suggestions */

.autocomplete-suggestions {
  border: 1px solid black;
  display: none;
}
.autocomplete-suggestion {
  cursor: pointer;
  padding: 5px;
  &:hover {
    background: #f1f1f1;
  }
}
