/* Grids */
.row--flex {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
}

.col {
  flex: 1;
  padding: 0 20px;
}

.damage-types,
.weapon-types {
  justify-content: space-between;
  list-style: none;
  .icon--weapon {
    img {
      width: 25px;
      height: 25px;
    }
    &.selected {
      background: #ddd;
    }
  }
  img {
    width: 100%;
  }
}

/* List Items */

.inventory-item,
.wishlist-item {
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  &:hover {
    background: #f1f1f1;
  }
  .view-item {
  }
  .remove-item {
  }
}

/* Weapon Tree */

.weapon-tree {
  .owned {
    h4 span {
      text-transform: uppercase;
      color: green;
    }
  }
}

/* Autocomplete Suggestions */

.autocomplete-suggestions {
  border: 1px solid black;
  display: none;
}
.autocomplete-suggestion {
  cursor: pointer;
  padding: 5px;
  &:hover {
    background: #f1f1f1;
  }
}
